GMAIL_USERNAME: ''
GMAIL_PASSWORD: ''

OTP_SECRET_ENCRYPTION_KEY: ''

cloudinary_cloud: ''
cloudinary_key: ''
cloudinary_secret: ''

FACEBOOK_APP_ID: ''
FACEBOOK_APP_SECRET: ''

RECAPTCHA_KEY: ''
RECAPTCHA_SECRET: ''
